.container{
    height: 565px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(164, 164, 7);
}

.aside{
    height: 100%;
    width: 900px;
    margin-left: 30px;
    height: auto;
    background-color: yellowgreen;
    text-align: center;
}

.subtitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.notificacion{
    width: 100%;
    height: 80px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imgnoti{
    height: 100%;
    justify-items: left;
}

.contenido{
    height: 100%;
    margin-left: 10px;
    width: 1019px;
}

.bodyImagen{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    height: 200px;
}

h3{
    text-align: center;
    font-size: xx-large;
}

.pokeFavs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1010px;
}

.pokemonFav{
    border: solid 2px black;
    display: flex;
    height: 115px;
}