*{
    background-color: #8B0000;
    margin: 0;
    color: black;
    background-color: rgb(240,280,140);
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cover{
    background-color:rgb(255,255,0);
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alt-login{
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-position: center;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.google{background-image: url("../assets/google.png");}

.facebook{background-image: url("../assets/face.png");}

.input{
    border: none;
    background-color: rgb(253, 247, 247);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    padding: 2em;
}

input:focus{outline-color: #8B0000;}

.login-btn{
    width: 40%;
    height: 3em;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover{ transform: scale(1.25);}

.text{
    position: relative;
    bottom: -2em;
}

.hide{display: none;}

.login-popup{
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom:0;
    transform: scale(1);
    transform: 1.5s;
}
