.logo{
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-left: 50px;
}

.titulo{
    width: 300px;
    height: 100px;
}


.logoimg{
    display: flex;
    justify-content: center;
    margin-right: 150px;
}

img{
    height: 100px;   
}

.Entraimg{
    height: 470px;
    margin-left: 25%; 
}