.navbar{
    display: flex;
    flex-direction: column;
    width: 720px;
}

.buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.inputs{
    width: 600px;
}

input{
    margin-left: 40px;
    width: 550px;
    border-radius: 15px;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.buttons>button{
    width: 150px;
    background-color: transparent;
}

.opciones>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}